<h1>Student #<%= @student.id %> details</h1>

<div>
  <a href="/students">Go back</a>
</div>

<div>
  <a href="/delete_student/<%= @student.id %>">Delete student</a>
</div>

<hr>

<form action="/modify_student/<%= @student.id %>" method="post">
  <div>
    <label for="email_box">Email</label>
    <input type="text" id="email_box" name="query_email" value="<%= @student.email %>">
  </div>

  <button>Update student</button>
</form>

<hr>

<h3>Course Load</h3>

<form action="/insert_enrollment" method="post">
  <input type="hidden" id="student_id_box" name="query_student_id" value="<%= @student.id %>">

  <select id="course_id_box" name="query_course_id">
    <% Course.order(title: :asc).each do |a_course| %>
      <option value="<%= a_course.id %>"><%= a_course.title %></option>
    <% end %>
  </select>
</form>

<ul>
  <% enrollments = Enrollment.where(student_id: @student.id) %>
  <% enrollments.each do |enrollment| %>
    <% course = Course.where(id: enrollment.course_id).first %> 
    <li><a href="/courses/<%= course.id %>"><%= course.title %></a></li>
  <% end %>
</ul>
